.conversion-box-container {
	position: absolute;
	width: fit-content;
	top: 30%;
	left: 80%;
	transform: translate(-80%, -30%);
}

.conversion-box {
	position: relative;
	z-index: 2;
	width: 100px;
	height: 100px;
	background-color: #222;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.conversion-box-left {
	position: absolute;
	top: 33px;
	left: -15px;
	height: 80px;
	width: 15px;
	background-color: #888;
	z-index: 1;
}

.conversion-box-bottom {
	position: absolute;
	bottom: -15px;
	left: 30px;
	height: 15px;
	width: 80px;
	background-color: #888;
	z-index: 1;
}

.conversion-box-light {
	width: 10px;
	height: 10px;
	background-color: rgb(0, 100, 0);
	border-radius: 50%;
	margin: 0px 5px;
	animation-timing-function: linear;
	animation-duration: .2s;
	animation-iteration-count: infinite;
}

.result-box {
	position: absolute;
	top: 0%;
	left: 50%;
	top: 200px;
	transform: translate(-50%, 0%);
	animation-name: slideDown;
	animation-duration: .6s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes slideDown {
	0% {
		top: 0%;
	}
	100% {
		top: 200px;
	}
}
