.bubble {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 20px;
	display: block;
	position: relative;
	z-index: 2;
	transition: .3s ease;
}

.bubble-hidden {
	display: none;
}

.bubble-select-file {
	background-color: #FF2350;
	left: 40px;
}

.bubble-select-format {
	background-color: #FFDC0F;
	left: 175px;
}

.bubble-convert {
	background-color: #1DFF39;
	left: 315px;
}

.bubble-processing {
	background-color: #1DFF39;
	left: 315px;
	transition: none;
	animation-duration: .33s;
	animation-name: bubbleMove;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.bubble-hidden {
	width: 0px;
	height: 0px;
}

.image-file {
	position: absolute;
	z-index: 2;
	font-size: 2.5rem;
	left: 307px;
	bottom: 45px;
	transform: scale(0);
}

.image-file-move {
	animation-duration: 2.66s;
	animation-delay: .33s;
	animation-name: imageMove;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes bubbleMove {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes imageMove {
	0% {
		transform: scale(0);
	}

	25% {
		transform: scale(1);
		bottom: 45px;
	}

	100% {
		transform: scale(1);
		bottom: 270px;
	}
}
