.box {
	font-size: 2em;
	height: 2em;
	margin: 1.5em auto;
	transform-style: preserve-3d;
	transform: rotateX(-20deg) rotateY(-45deg);
	user-select: none;
	width: 2em;
	cursor: pointer;
}

.box-jiggle {
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: jiggleBox;
	animation-timing-function: linear;
}

.side-half,
.side-inner,
.side-outer {
	border: 1px solid #0008;
	color: #fff;
	height: 2em;
	position: absolute;
	width: 2em;
}

.side-half {
	width: 1em;
}

.side-inner {
	background-color: rgba(53, 34, 18, .4);
}

.side-outer,
.side-half {
	background-color: rgba(193, 154, 108, 1);
}

.side-top-left {
	transform: translateY(-29px) rotateX(90deg);
}

.side-top-right {
	transform: translateX(28px) translateY(-29px) rotateX(90deg)
}

.side-top-left-open {
	transform-origin: 0% 0%;
	animation-name: openLeftSlot;
	animation-duration: .6s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.side-top-right-open {
	transform-origin: 200% 0%;
	animation-name: openRightSlot;
	animation-duration: .6s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.front {
	transform: translateZ(1em);
}

.back {
	transform: rotateY(-180deg) translateZ(1em);
}

.right {
	transform: rotateY(90deg) translateZ(1em);
}

.left {
	transform: rotateY(-90deg) translateZ(1em);
}

.bottom {
	transform: rotateX(-90deg) translateZ(1em);
}

.file-icon {
	transform: rotateY(45deg) translateX(10.5px) translateY(20px);
}

.file-icon-bounce {
	animation-name: bounce;
	animation-duration: 1s;
	animation-delay: .6s;
	animation-timing-function: cubic-bezier(0.5, 0, 0, 1.5);
	animation-iteration-count: infinite;
}

@keyframes jiggleBox {
	0% {
		transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg);
	}

	10% {
		transform: rotateX(-20deg) rotateY(-45deg) rotateZ(10deg);
	}

	20% {
		transform: rotateX(-20deg) rotateY(-45deg) rotateZ(-10deg);
	}

	30% {
		transform: rotateX(-20deg) rotateY(-45deg) rotateZ(10deg);
	}

	40% {
		transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(-20deg) rotateY(-45deg) rotateZ(0deg);
	}
}

@keyframes openLeftSlot {
	0% {
		transform: rotateX(90deg) rotateY(0deg) translateY(-1em);
	}

	100% {
		transform: rotateX(90deg) rotateY(-225deg) translateY(-1em);
	}
}

@keyframes openRightSlot {
	0% {
		transform: rotateX(90deg) rotateY(0deg) translate(1.1em, -1em);
	}

	100% {
		transform: rotateX(90deg) rotateY(225deg) translate(1.1em, -1em);
	}
}

@keyframes bounce {
	0% {
		transform: rotateY(45deg) translateX(10.5px) translateY(20px);
	}
	50% {
		transform: rotateY(45deg) translateX(10.5px) translateY(-20px);
	}
	100% {
		transform: rotateY(45deg) translateX(10.5px) translateY(20px);
	}
}
