.app-form {
	display: flex;
	flex-direction: column;
}

.app-form-bubble {
	width: fit-content;
	margin-bottom: 20px;
}

.app-form-content {
	display: flex;
}

.app-form-content > div {
	margin-right: 30px;
}

.app-form-content > div:last-child {
	margin-right: 0px;
}

.app-form-file > label {
	position: absolute;
	left: 5px;
	margin-top: 10px;
	text-align: center;
}

.form-reset-button {
	position: absolute;
	top: 100px;
	left: 138px;
}

select {
	width: 100%;
	height: 30px;
}

select:disabled {
	cursor: not-allowed;
}
