.processing-box-container {
	position: absolute;
	width: fit-content;
	top: 30%;
	left: 20%;
	transform: translate(-20%, -30%);
}

.processing-box {
	position: relative;
	z-index: 2;
	width: 100px;
	height: 100px;
	background-color: #222;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.processing-box-bottom {
	position: absolute;
	bottom: -15px;
	left: 30px;
	height: 15px;
	width: 80px;
	background-color: #888;
	z-index: 1;
}

.processing-box-right {
	position: absolute;
	top: 33px;
	right: -15px;
	height: 80px;
	width: 15px;
	background-color: #888;
	z-index: 1;
}

.processing-box-light {
	width: 15px;
	height: 15px;
	background-color: rgb(0, 100, 0);
	border-radius: 50%;
	margin: 0px 5px;
	animation-duration: .3s;
	animation-fill-mode: forwards;
}

.processing-paper-plane {
	position: absolute;
	top: 38px;
	left: 35px;
	width: 70px;
	height: auto;
}

.processing-blink-light-1 {
	animation-name: blinkLight;
	animation-delay: 2.2s;
}

.processing-blink-light-2 {
	animation-name: blinkLight;
	animation-delay: 2.5s;
}

.processing-blink-light-3 {
	animation-name: blinkLight;
	animation-delay: 2.8s;
}

.plane-fly {
	animation-name: planeFly;
	animation-duration: 2s;
	animation-delay: 3s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

@keyframes blinkLight {
	0% {
		background-color: rgb(0, 100, 0);
	}

	100% {
		background-color: rgb(20, 255, 40);
	}
}

@keyframes planeFly {
	0% {
		left: 35px;
	}

	100% {
		left: 1105px;
	}
}
