.conversion-list-container {
	width: 600px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #888;
}

.conversion-list-title {
	height: max-content;
	padding: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

.conversion-list {
	list-style-type: none;
	height: auto;
	max-height: 300px;
	overflow: auto;
}
