.app-container {
	width: 100vw;
	height: 100vh;
}

.app-conversion-form {
	width: 150px;
	position: absolute;
	top: 60%;
	left: 5.75%;
	transform: translate(-5.75%, -60%);
}

.app-conversion-list {
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%);
}

button,
select,
.file-upload-label {
	border: 1px solid #ccc;
	border-radius: 5px;
	display: inline-block;
	padding: 6px 0px;
	background-color: #fff;
	transition: .3s ease;
	text-align: center;
	cursor: pointer;
	user-select: none;
	width: 105px;
	max-height: 30px;
}

button:hover {
	background-color: #eee;
}

button:focus {
	background-color: #ddd;
}

button.button-delete {
	background-color: #d33;
	color: white;
	margin-right: 5px;
}

button.button-delete:hover {
	background-color: #b22;
}

button.button-delete:focus {
	background-color: #a11;
}

button:disabled {
	cursor: not-allowed;
}

button:disabled:hover {
	background-color: inherit;
}

input[type="file"] {
	display: none;
}

label.label-disabled {
	opacity: 0.6;
}

label.label-disabled:hover {
	cursor: not-allowed;
}
