.modal-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #0008;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background-color: #eee;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #444;
	width: 450px;
	animation: .3s cubic-bezier(0.5, 0, 0, 1.5) popIn;
}

.modal-header {
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.modal-content {
	margin: 10px 0px;
}

.modal-actions {
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid #ddd;
	padding-top: 5px;
	margin-top: 5px;
}

@keyframes popIn {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
