.conversion-entry {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;
}

.conversion-entry-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-right: 10px;
}

.conversion-entry:last-child {
	border-bottom: none;
}

.conversion-entry-tools {
	border-left: 1px solid #ddd;
	padding-left: 10px;
	display: flex;
}

.conversion-entry-tools span {
	font-size: 1.5rem;
	transition: .3s ease;
}

.conversion-entry-tools span:hover {
	opacity: 0.5;
	cursor: pointer;
}
