.loading-square {
	width: 20px;
	height: 20px;
	outline: 5px solid #888;
	position: relative;
	top: 20px;
	border-radius: 20px;
}

.loading-circle-inner,
.loading-rectangle-inner {
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: #fff;
	border-radius: 50%;
}

.piece {
	opacity: 0;
	border-radius: 0;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.sliding {
	top: 8px;
	left: 8px;
	animation-name: slidingLeftRight;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.top-left,
.left-vert,
.bottom-left {
	animation-name: fadeInOutLeftSide;
}

.top-right,
.right-vert,
.bottom-right {
	animation-name: fadeInOutRightSide;
}

.top-left {
	top: -5px;
	left: -5px;
	width: 15px;
}

.left-vert {
	top: 0px;
	left: -5px;
	height: 20px;
}

.bottom-left {
	top: 20px;
	left: -5px;
	width: 15px;
}

.top-right {
	top: -5px;
	left: 10px;
	width: 15px;
}

.right-vert {
	top: 0px;
	left: 20px;
	height: 20px;
}

.bottom-right {
	top: 20px;
	left: 10px;
	width: 15px;
}

@keyframes slidingLeftRight {
	0% {
		left: 7.5px;
	}

	25% {
		left: 0px;
	}

	75% {
		left: 15px;
	}

	100% {
		left: 7.5px;
	}
}

@keyframes fadeInOutLeftSide {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

@keyframes fadeInOutRightSide {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
